/***** COLORS *****/
.lgreen {
  color: #5df2d6;
}

.mgreen {
  color: #00bfa5;
}

.dgreen {
  color: #008e76;
}

.lpink {
  color: #ff616f;
}

.mpink {
  color: #ff1744;
}

.dpink {
  color: #c4001d;
}

.dblue {
  color: #1a1423;
}

.yellow-vab {
  color: #fdd835;
}

.lgrey {
  color: #ecede2;
}

.mgrey {
  color: #9e9e9d;
}

/***** END COLORS *****/
/***** CUSTOM *****/
body {
  margin: 0;
  padding: 0;
  font-family: "Overpass";
  color: #1a1423;
}

p {
  font-weight: 300;
}

button {
  cursor: pointer;
  border: none;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
}

h1 {
  color: #008e76;
  font-size: 25pt;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  color: #1a1423;
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}

.screen {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
}

.align-mid {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** END CUSTOM *****/
/***** BACKGROUND *****/
.bg-lgreen {
  background-color: #5df2d6;
}

.bg-mgreen {
  background-color: #00bfa5;
}

.bg-dgreen {
  background-color: #008e76;
}

.bg-lpink {
  background-color: #ff616f;
}

.bg-mpink {
  background-color: #ff1744;
}

.bg-dpink {
  background-color: #c4001d;
}

.bg-dblue {
  background-color: #1a1423;
}

.bg-yellow-vab {
  background-color: #fdd835;
}

.bg-mgrey {
  background-color: #9e9e9d;
}

/***** END BACKGROUND *****/
/***** LOGO VAB *****/
.logo-vab-xl {
  height: 200px;
  width: 200px;
  margin: 30px auto;
  background: url(../img/logo-vab.svg) no-repeat;
  background-size: cover;
}

.logo-vab-md {
  height: 130px;
  width: 130px;
  margin: 30px auto;
  background: url(../img/logo-vab.svg) no-repeat;
  background-size: cover;
}

.logo-vab-sm {
  height: 70px;
  width: 70px;
  margin: auto;
  background: url(../img/logo-vab.svg) no-repeat;
  background-size: cover;
}

/***** END LOGO *****/
/***** BUTTON *****/
.sm-btn {
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 25px 12px 25px;
  margin-top: auto;
  margin-bottom: 15px;
}

.lg-btn {
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
  border-radius: 50px;
  padding: 20px 30px 15px 30px;
  margin: 15px 0;
}

.mg-btn {
  margin: 50px 0 50px 0;
}

.mg-btm {
  margin-bottom: 30px;
}

/***** END BUTTON *****/
/***** INPUT *****/
input:focus,
a:focus,
button:focus {
  outline-style: none;
}

.input-w {
  color: #ecede2;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: #ecede2;
  color: #9e9e9d;
}
.form-group .fas {
  font-size: 24px;
  color: #008e76;
  margin-right: 15px;
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  height: 48px;
  color: #9e9e9d;
  padding: 0 15px;
}

textarea.input {
  height: auto;
  padding: 10px 5px;
}

input, textarea, select {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent;
}

/***** END INPUT *****/
/***** MAP *****/
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}

/***** END INPUT *****/
/***** HEADER *****/
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  -webkit-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.75);
}

.header a:hover {
  color: #ecede2;
}

.subheader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 30px;
  padding: 0 15px;
}

a i {
  font-size: 35pt;
}

/***** END HEADER *****/
/***** ONBARDING *****/
.text-index {
  padding: 0 20px;
}

.bloc {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  top: 0;
  transition: left 0.5s ease;
  margin: 0 auto;
  width: 100%;
  right: 0;
}

.bloc.active {
  left: 0;
  display: block;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 10rem;
}

li {
  display: inline;
}

li.active {
  border: black;
  border-width: 2px;
}

/***** END ONBOARDING *****/
/***** LOGIN *****/
.separator {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-text {
  font-size: 14px;
}

.no-account {
  margin-top: 10px;
  margin-bottom: 5px;
}

/***** END LOGIN *****/
/***** SWITCH *****/
.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 6px;
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #000, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(30px);
  background-color: #008e76;
}

input:checked + .slider {
  box-shadow: 0 0 0 2px #008e76, 0 0 8px #008e76;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
}

.switch200 input:checked + .slider:before {
  background-color: red;
}

.switch200 input:checked + .slider {
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}

/***** END SWITCH *****/
/***** ACCOUNT *****/
.arrow {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  box-shadow: 3px -3px 0 0 #1a1423 inset;
}

.arrow--left {
  transform: rotate(45deg);
}

.arrow--right {
  transform: rotate(225deg);
}

.arrow--up {
  transform: rotate(135deg);
}

.arrow--down {
  transform: rotate(-45deg);
}

.btn-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
}
.btn-back .arrow {
  margin-right: 20px;
  left: 10px;
}

.mg-side {
  margin-left: 20px;
  margin-right: 20px;
}

.screen-lg {
  padding-top: 130px;
  padding-bottom: 130px;
}
.screen-lg h1 {
  font-size: 22pt;
  margin: 50px 0 50px 20px;
}
.screen-lg h2 {
  font-size: 14pt;
}
.screen-lg h4 {
  font-size: 10pt;
}
.screen-lg ul {
  padding: 0 30px;
}
.screen-lg ul.list {
  margin-bottom: 45px;
}
.screen-lg ul li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.screen-lg ul li.line {
  margin-bottom: 30px;
}
.screen-lg ul li .rubrique {
  display: flex;
  align-items: center;
  text-transform: none;
  margin: 0;
}
.screen-lg ul li .rubrique img {
  height: 35px;
  width: 25px;
  margin-right: 20px;
}
.screen-lg ul li .rubrique .fas,
.screen-lg ul li .rubrique .fab {
  font-size: 26px;
  margin-right: 20px;
}

.confirm {
  display: flex;
}
.confirm div {
  display: flex;
  align-items: center;
}
.confirm span {
  font-size: 14px;
}

.formule {
  text-align: center;
  margin-bottom: 10px;
}
.formule h2 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #ff1744;
}

.mg-side {
  margin-left: 20px;
  margin-right: 20px;
}

.sm-text {
  font-size: 11pt;
  padding: 15px 30px 12px 30px;
}

#btn-add {
  display: inline-flex;
  align-items: center;
  padding: 15px 40px 12px 30px;
}
#btn-add .fa-plus {
  font-weight: bold;
  font-size: 38px;
  color: #008e76;
  margin-right: 20px;
}

/***** END ACCOUNT *****/
/***** SELECT *****/
select {
  /* styling */
  display: inline-block;
  font: inherit;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, #008e76 50%), linear-gradient(135deg, #008e76 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 30px) calc(1em + 2px), calc(100% - 20px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 10px 15px, 10px 15px, 2px 0px;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, #008e76 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #008e76 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 1em, calc(100% - 30px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 10px 15px, 10px 15px, 2px 0px;
  background-repeat: no-repeat;
  border-color: #008e76;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/***** END SELECT *****/
/***** FOOTER *****/
footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 1030;
}

.footer__item {
  flex: 1;
  color: #9e9e9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
}
.footer__item .fas {
  font-size: 32px;
  margin-bottom: 10px;
}

.footer__item:hover {
  background-color: #ff1744;
  color: white;
}
.footer__item:hover .fas {
  color: white;
}

.footer__item.active {
  color: black;
  background-color: transparent;
}
.footer__item.active .fas {
  color: #ff1744;
}

/***** END FOOTER *****/
/***** MODAL *****/
.modal-content {
  border: #00bfa5 3px solid;
  border-radius: 10px;
}

.modal-body {
  position: relative;
  padding: 20px 15px;
}
.modal-body .close {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 36px;
  color: #ff1744;
  opacity: 1;
}
.modal-body p {
  font-weight: bold;
}

/***** END MODAL *****/

/*# sourceMappingURL=style.css.map */
