/***** COLORS *****/
$light-green: #5df2d6;
$med-green: #00bfa5;
$dark-green: #008e76;
$light-pink: #ff616f;
$med-pink: #ff1744;
$dark-pink: #c4001d;
$yellow-vab: #fdd835;
$dark-blue: #1a1423;
$light-grey: #ecede2;
$med-grey: #9e9e9d;

.lgreen {
  color: $light-green;
}
.mgreen {
  color: $med-green;
}
.dgreen {
  color: $dark-green;
}
.lpink {
  color: $light-pink;
}
.mpink {
  color: $med-pink;
}
.dpink {
  color: $dark-pink;
}
.dblue {
  color: $dark-blue;
}
.yellow-vab {
  color: $yellow-vab;
}
.lgrey {
  color: $light-grey;
}
.mgrey {
  color: $med-grey;
}
/***** END COLORS *****/

/***** CUSTOM *****/
body {
  margin: 0;
  padding: 0;
  font-family: "Overpass";
  color: $dark-blue;
}

p {
  font-weight: 300;
}

button {
  cursor: pointer;
  border: none;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
}

h1 {
  color: $dark-green;
  font-size: 25pt;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

h2 {
  color: $dark-blue;
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 30px;
}

.screen {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
}

.align-mid {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** END CUSTOM *****/

/***** BACKGROUND *****/

.bg-lgreen {
  background-color: $light-green;
}
.bg-mgreen {
  background-color: $med-green;
}
.bg-dgreen {
  background-color: $dark-green;
}
.bg-lpink {
  background-color: $light-pink;
}
.bg-mpink {
  background-color: $med-pink;
}
.bg-dpink {
  background-color: $dark-pink;
}
.bg-dblue {
  background-color: $dark-blue;
}
.bg-yellow-vab {
  background-color: $yellow-vab;
}
.bg-mgrey {
  background-color: $med-grey;
}
/***** END BACKGROUND *****/

/***** LOGO VAB *****/

.logo-vab-xl {
  height: 200px;
  width: 200px;
  margin: 30px auto;
  background: url(../img/logo-vab.svg) no-repeat;
  background-size: cover;
}
.logo-vab-md {
  height: 130px;
  width: 130px;
  margin: 30px auto;
  background: url(../img/logo-vab.svg) no-repeat;
  background-size: cover;
}
.logo-vab-sm {
  height: 70px;
  width: 70px;
  margin: auto;
  background: url(../img/logo-vab.svg) no-repeat;
  background-size: cover;
}
/***** END LOGO *****/

/***** BUTTON *****/

.sm-btn {
  cursor: pointer;
  font-size: 10pt;
  font-weight: bold;
  border-radius: 50px;
  padding: 15px 25px 12px 25px;
  margin-top: auto;
  margin-bottom: 15px;
}

.lg-btn {
  cursor: pointer;
  font-size: 18pt;
  font-weight: bold;
  border-radius: 50px;
  padding: 20px 30px 15px 30px;
  margin: 15px 0;
}

.mg-btn {
  margin: 50px 0 50px 0;
}

.mg-btm {
  margin-bottom: 30px;
}

/***** END BUTTON *****/

/***** INPUT *****/

input:focus,
a:focus,
button:focus {
  outline-style: none;
}

.input-w {
  color: $light-grey;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background-color: $light-grey;
  color: $med-grey;

  .fas {
    font-size: 24px;
    color: $dark-green;
    margin-right: 15px;
  }
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  height: 48px;
  color: $med-grey;
  padding: 0 15px;
}

textarea.input {
    height: auto;
    padding: 10px 5px;
}

input, textarea, select {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent;
}


/***** END INPUT *****/

/***** MAP *****/
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // display: none;
  opacity: 0;
}

.mapboxgl-popup {
  max-width: 200px;
}
/***** END INPUT *****/

/***** HEADER *****/

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  -webkit-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.75);
}

.header a:hover {
  color: $light-grey;
}

.subheader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 30px;
  padding: 0 15px;
}

a i {
  font-size: 35pt;
}

/***** END HEADER *****/

/***** ONBARDING *****/

.text-index {
  padding: 0 20px;
}

.bloc {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  top: 0;
  transition: left 0.5s ease;
  margin: 0 auto;
  width: 100%;
  right: 0;
}

.bloc.active {
  left: 0;
  display: block;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 10rem;
}

li {
  display: inline;
}

li.active {
  border: black;
  border-width: 2px;
}

/***** END ONBOARDING *****/

/***** LOGIN *****/

.separator {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-text {
  font-size: 14px;
}

.no-account {
  margin-top: 10px;
  margin-bottom: 5px;
}

/***** END LOGIN *****/

/***** SWITCH *****/

.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 6px;
  // transform: translateY(50%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #000, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(30px);
  background-color: $dark-green;
}

input:checked + .slider {
  box-shadow: 0 0 0 2px $dark-green, 0 0 8px $dark-green;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
}

.switch200 input:checked + .slider:before {
  background-color: red;
}

.switch200 input:checked + .slider {
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}

/***** END SWITCH *****/

/***** ACCOUNT *****/

.arrow {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  box-shadow: 3px -3px 0 0 $dark-blue inset;
}

.arrow--left {
  transform: rotate(45deg);
}
.arrow--right {
  transform: rotate(225deg);
}
.arrow--up {
  transform: rotate(135deg);
}
.arrow--down {
  transform: rotate(-45deg);
}

.btn-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;

  .arrow {
    margin-right: 20px;
    left: 10px;
  }
}

.mg-side {
  margin-left: 20px;
  margin-right: 20px;
}

.screen-lg {
  padding-top: 130px;
  padding-bottom: 130px;

  h1 {
    font-size: 22pt;
    margin: 50px 0 50px 20px;
  }

  h2 {
    font-size: 14pt;
  }

  h4 {
    font-size: 10pt;
  }

  ul {
    padding: 0 30px;
    &.list {
      margin-bottom: 45px;
    }

    li {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.line {
        margin-bottom: 30px;
      }

      .rubrique {
        display: flex;
        align-items: center;
        text-transform: none;
        margin: 0;
      }

      .rubrique img {
        height: 35px;
        width: 25px;
        margin-right: 20px;
      }

      .rubrique .fas,
      .rubrique .fab {
        font-size: 26px;
        margin-right: 20px;
      }
    }
  }
}

.confirm {
  display: flex;

  div {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 14px;
  }
}

.formule {
  text-align: center;
  margin-bottom: 10px;

  h2 {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: $med-pink;
  }
}

.mg-side {
  margin-left: 20px;
  margin-right: 20px;
}

.sm-text {
  font-size: 11pt;
  padding: 15px 30px 12px 30px;
}

#btn-add {
  display: inline-flex;
  align-items: center;
  padding: 15px 40px 12px 30px;

  .fa-plus {
    font-weight: bold;
    font-size: 38px;
    color: $dark-green;
    margin-right: 20px;
  }
}

/***** END ACCOUNT *****/

/***** SELECT *****/

select {
  /* styling */
  display: inline-block;
  font: inherit;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, $dark-green 50%),
    linear-gradient(135deg, $dark-green 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 30px) calc(1em + 2px), calc(100% - 20px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 10px 15px, 10px 15px, 2px 0px;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, $dark-green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, $dark-green 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) 1em, calc(100% - 30px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 10px 15px, 10px 15px, 2px 0px;
  background-repeat: no-repeat;
  border-color: $dark-green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/***** END SELECT *****/

/***** FOOTER *****/

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 1030;
}

.footer__item {
  flex: 1;
  color: $med-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10pt;

  .fas {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

.footer__item:hover {
  background-color: $med-pink;
  color: white;
  .fas {
    color: white;
  }
}

.footer__item.active {
  color: black;
  background-color: transparent;
  .fas {
    color: $med-pink;
  }
}

/***** END FOOTER *****/

/***** MODAL *****/

.modal-content {
  border: $med-green 3px solid;
  border-radius: 10px;
}

.modal-body {
  position: relative;
  padding: 20px 15px;

  .close {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 36px;
    color: $med-pink;
    opacity: 1;
  }

  p {
    font-weight: bold;
  }
}

/***** END MODAL *****/
