/***** COLORS *****/

.white {
    color: white;
}

.lgreen {
    color: #5df2d6;
}

.mgreen {
    color: #00bfa5;
}

.dgreen {
    color: #008e76;
}

.lpink {
    color: #ff616f;
}

.mpink {
    color: #ff1744;
}

.dpink {
    color: #c4001d;
}

.dblue {
    color: #1a1423;
}

.yellow-vab {
    color: #fdd835;
}

.lgrey {
    color: #ecede2;
}

.mgrey {
    color: #9e9e9d;
}

/***** END COLORS *****/

/***** BACKGROUND *****/

.bg-lgreen {
    background-color: #5df2d6;
}

.bg-mgreen {
    background-color: #00bfa5;
}

.bg-dgreen {
    background-color: #008e76;
}

.bg-lpink {
    background-color: #ff616f;
}

.bg-mpink {
    background-color: #ff1744;
}

.bg-dpink {
    background-color: #c4001d;
}

.bg-dblue {
    background-color: #1a1423;
}

.bg-yellow-vab {
    background-color: #fdd835;
}

.bg-mgrey {
    background-color: #9e9e9d;
}

/***** END BACKGROUND *****/

/***** COMMON *****/

a, a:hover, a:focus {
    text-decoration: none;
}

html {
    height: 100%;
}

@media (min-width: 1920px) {
    .container {
        max-width: 1600px;
    }
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    display: grid;
    user-select: none;
    overflow-x: hidden;
}

section {
    position: relative;
}

button {
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/* .lg-btn {
    cursor: pointer;
    font-size: 18pt;
    font-weight: bold;
    border-radius: 50px;
    padding: 20px 100px 15px 100px;
    margin: 15px 130px;
}

.lg-btn:hover {
    background-color: #008e76;
    color: #5df2d6;
} */

h1 {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

h2 {
    color: #ff1744;
    font-family: 'Overpass', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 60px;
}

p {
    color: #1a1423;
    font-size: 20px;
    line-height: 1.6;
}

.ancre-bk {
    height: 60px;
    width: 60px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/***** END COMMON *****/

/***** NAVBAR *****/

.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #ff1744;
    height: 110px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav li>a {
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item a.active {
    background-color: transparent;
}

.list-group-item a.active {
    color: #1a1423;
    position: relative;
    width: 100%;
}

.list-group-item a.active:after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0px;
    background-color: #1a1423;
    width: inherit;
    height: 8px;
}

.test1 {
    width: 80px;
    height: 390px;
}

/***** END NAVBAR *****/

/***** CD TOP *****/

.cd-top {
    z-index: 999;
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 41px;
    right: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgb(0, 142, 119, 0.8) url(img/cd-top-arrow.svg) no-repeat center 50%;
    background-size: 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    cursor: pointer;
}

.cd-top.cd-top--show, .cd-top.cd-top--fade-out, .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    opacity: .5;
}

.cd-top:hover {
    opacity: 1;
}

/***** END *****/

/***** LOGO VAB *****/

.logo-vab {
    height: auto;
    width: 200px;
}

/***** END LOGO *****/

/***** SECTION 1 *****/

header {
    height: calc(100vh - 110px);
}

.s1-bg {
    margin-top: 110px;
    background: url(./img/photos/plbourse.jpg) no-repeat center center fixed;
    background-size: cover;
}

.header__content {
    position: relative;
    height: 100%;
}

.header__content h1 {
    position: absolute;
    left: 5%;
    top: 15%;
}

.header__content .cta {
    position: absolute;
    left: 5%;
    top: 55%;
}

.header__content .ancre {
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.google img {
    height: 100%;
    width: 250px;
    margin-right: 30px;
}

.apple img {
    height: 100%;
    width: 250px;
}

.cta>a {
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.btn-cta {
    margin-bottom: 50px;
}

.liquid-button {
    margin: auto;
    font-size: 22px;
}

.liquid-button path {
    cursor: pointer;
}

/***** FIN DE SECTION 1 *****/

/***** SECTION 2 *****/

.blob__container {
    height: 90vh;
}

.blob {
    display: block;
    position: relative;
    width: 800px;
    height: 800px;
    overflow: hidden;
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    /* background: linear-gradient(to right, #23D5AB, #23A6D5, #E73C7E, #EE7752, #DDD6F3); */
    background-size: 500% 100%;
    animation: blobber 30s 0s linear infinite, cobler 30s 0s linear infinite alternate;
    top: -50px;
    right: -5%;
}

.blob:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000;
    background-image: url(./img/photos/circulation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    /* animation: blobber 60s 0s ease-in-out infinite, wobbler 30s 0s linear infinite alternate; */
}

.blob2 {
    display: block;
    position: relative;
    z-index: 5;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 29% 85% 35% 16% / 34% 12% 40% 5%;
    /* background: linear-gradient(to right, #23D5AB, #23A6D5, #E73C7E, #EE7752, #DDD6F3); */
    background-size: 500% 100%;
    animation: blobber2 30s 0s linear infinite, cobler2 30s 0s linear infinite alternate;
    left: -30px;
    bottom: 400px;
}

.blob2:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #000;
    background-image: url(./img/photos/femme-pollution.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
}

@keyframes blobber {
    0% {
        border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
    5% {
        border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
    }
    10% {
        border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
    }
    15% {
        border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
    }
    20% {
        border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
    }
    25% {
        border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
    }
    30% {
        border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
    }
    35% {
        border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
    }
    40% {
        border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
    }
    45% {
        border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
    }
    50% {
        border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
    }
    55% {
        border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
    }
    60% {
        border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
    }
    65% {
        border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
    }
    70% {
        border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
    }
    75% {
        border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
    }
    80% {
        border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
    }
    85% {
        border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
    }
    90% {
        border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
    }
    95% {
        border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
    }
    100% {
        border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
}

@keyframes blobber2 {
    50% {
        border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
    55% {
        border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
    }
    60% {
        border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
    }
    65% {
        border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
    }
    70% {
        border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
    }
    75% {
        border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
    }
    80% {
        border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
    }
    85% {
        border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
    }
    90% {
        border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
    }
    95% {
        border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
    }
    100% {
        border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
    }
    0% {
        border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
    }
    5% {
        border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
    }
    10% {
        border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
    }
    15% {
        border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
    }
    20% {
        border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
    }
    25% {
        border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
    }
    30% {
        border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
    }
    35% {
        border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
    }
    40% {
        border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
    }
    45% {
        border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
}

@keyframes cobler {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

@keyframes cobler2 {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.main {
    z-index: 10;
}

/***** FIN DE SECTION 2 *****/

/***** SECTION 3 *****/

embed {
    width: 100%;
    height: 100%;
}

.pd-left {
    padding-left: 50px;
}

.pd-top {
    padding-top: 50px;
}

/***** FIN DE SECTION 3 *****/

/***** SECTION 4 *****/

.box-carousel {
    position: relative;
}

.technique .carousel-item {
    padding: 0 100px;
    margin-top: -30px;
}

.technique .carousel-item .d-flex>p {
    flex: 30%;
}

.technique .carousel-item .d-flex>div {
    flex: 500px;
}

.carousel-vab-bg {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 75px;
}

.carousel-vab {
    position: absolute;
}

.carousel-indicators li {
    height: 100%;
    width: 100%;
    background: transparent;
    text-indent: 0px;
    opacity: 1;
    text-align: center;
}

.carousel-indicators li .puce {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #008e76;
    margin: 0 auto;
}

.carousel-indicators li p {
    color: #008e76;
    margin-top: 15px;
    text-transform: uppercase;
    line-height: 1.5;
}

.carousel-indicators li.active .puce {
    background-color: #ff1744;
    border-color: #ff1744;
}

.picto-carousel {
    margin-top: 40px;
    margin-right: 15px;
    margin-left: -25px;
}

.technique p {
    margin-top: 145px;
}

.box-carousel ol {
    bottom: 57px;
}

.timeline {
    position: absolute;
    background-color: #008e76;
    height: 15px;
    width: 80%;
    bottom: 115px;
    left: 120px;
    z-index: -1;
}

/***** FIN DE SECTION 4 *****/

/***** SECTION 5 *****/

.s-title {
    line-height: 1.5;
    margin-top: -60px;
}

.mockup__container .col {
    justify-content: space-between;
}

.mockup {
    height: 100%;
}

.mockup-4, .mockup-5 {
    height: 95%;
    width: 100%;
}

.cta-vab {
    height: 150px;
}

.cta-wrapper {
    margin: 30px 0;
}

.cta-vab :nth-child(2) {
    margin-left: 100px;
}

/***** FIN DE SECTION 5 *****/

/***** SECTION 6 *****/

.blob3 {
    display: block;
    position: absolute;
    width: 100%;
    height: 650px;
    overflow: hidden;
    border-radius: 2% 52% 68% 32% / 7% 28% 72% 58%;
    /* background: linear-gradient(to right, #23D5AB, #23A6D5, #E73C7E, #EE7752, #DDD6F3); */
    background-size: 500% 100%;
    animation: blobber 30s 0s linear infinite, cobler 30s 0s linear infinite alternate;
    top: -25px;
    /* right: -100px; */
}

.blob3:after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: -55px;
    left: 0px;
    background-color: #000;
    background-image: url(./img/photos/partenaires.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    /* animation: blobber 60s 0s ease-in-out infinite, wobbler 30s 0s linear infinite alternate; */
}

@keyframes blobber2 {
    50% {
        border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
    }
    55% {
        border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
    }
    60% {
        border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
    }
    65% {
        border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
    }
    70% {
        border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
    }
    75% {
        border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
    }
    80% {
        border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
    }
    85% {
        border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
    }
    90% {
        border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
    }
    95% {
        border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
    }
    100% {
        border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
    }
    0% {
        border-radius: 8% 72% 37% 63% / 12% 44% 56% 29%;
    }
    5% {
        border-radius: 10% 62% 35% 65% / 15% 53% 47% 26%;
    }
    10% {
        border-radius: 2% 27% 46% 54% / 6% 47% 53% 46%;
    }
    15% {
        border-radius: 5% 25% 47% 53% / 9% 53% 47% 51%;
    }
    20% {
        border-radius: 8% 38% 43% 57% / 14% 60% 40% 45%;
    }
    25% {
        border-radius: 1% 59% 65% 35% / 5% 50% 50% 27%;
    }
    30% {
        border-radius: 5% 45% 57% 43% / 8% 61% 39% 27%;
    }
    35% {
        border-radius: -10% 26% 33% 67% / -12% 65% 35% 60%;
    }
    40% {
        border-radius: 0% 42% 57% 43% / 5% 45% 55% 47%;
    }
    45% {
        border-radius: 8% 52% 68% 32% / 11% 28% 72% 58%;
    }
}

.text-partenaires {
    text-align: center;
    padding-top: 100px;
}

.img-partenaires {
    height: 600px;
}

.puces-partenaires li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #ff1744;
    margin: 0 10px;
}

.puces-partenaires li.active {
    background-color: #ff1744;
    border-color: #ff1744;
}

.puces-partenaires {
    margin: auto;
    top: 0;
    width: 50%;
    height: 10%;
}

.contact-pro {
    padding: 0 35px;
}

.contact-pro p {
    font-size: 28px;
}

input {
    color: #9E9E9D;
    background-color: #ECEDE2;
    border-radius: 20px;
    height: 75px;
    width: 100%;
    padding-left: 35px;
    font-size: 25px;
    border: none;
}

/***** FIN DE SECTION 6 *****/

/***** SECTION 7 *****/

h3 {
    color: #ff1744;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    text-align: end;
}

.contact p {
    font-size: 28px;
}

footer {
    height: 150px;
}

footer .flex-center {
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 15px;
    margin: 0;
}

footer p a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer p a:hover {
    color: #5df2d6;
    transition: 0.5s ease;
}

/***** FIN DE SECTION 7 *****/

/***** BULLES SOCIALES *****/

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}

.social-buttons__button {
    margin: 10px 5px 0;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}

.social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.social-button i, .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.social-button i {
    font-size: 28px;
}

.social-button svg {
    height: 40%;
    width: 40%;
}

.social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus, .social-button:hover {
    color: #fff;
}

.social-button:focus::after, .social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

.social-button--mail {
    color: #0072c6;
}

.social-button--mail::after {
    background: #0072c6;
}

.social-button--facebook {
    color: #3b5999;
}

.social-button--facebook::after {
    background: #3b5999;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.social-button--github {
    color: #6e5494;
}

.social-button--github::after {
    background: #6e5494;
}

.social-button--codepen {
    color: #212121;
}

.social-button--codepen::after {
    background: #212121;
}

.social-button--steam {
    color: #7da10e;
}

.social-button--steam::after {
    background: #7da10e;
}

.social-button--snapchat {
    color: #eec900;
}

.social-button--snapchat::after {
    background: #eec900;
}

.social-button--twitter {
    color: #55acee;
}

.social-button--twitter::after {
    background: #55acee;
}

.social-button--instagram {
    color: #e4405f;
}

.social-button--instagram::after {
    background: #e4405f;
}

.social-button--npmjs {
    color: #c12127;
}

.social-button--npmjs::after {
    background: #c12127;
}

.social-button__lg {
    height: 140px;
    width: 140px;
}

.social-button__lg .fab {
    font-size: 58px;
}

.social-mg {
    margin-bottom: 40px;
}

/***** FIN DE BULLES SOCIALES *****/